{% extends 'Simulator/simulator_layout.html' %}
{% block title %}
Analysis
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
{% if simulator %}
<h1>{{simulator}} - Analysis</h1>

<div>
    {% for subject,questions in chapter_questions.items %}
    <div class="div-centered">
        <h3>{{subject}}</h3>
        {% if subject == 'Reading Comprehension' %}
        <p class="chapter_text">{{questions.0.question.chapter.text}}</p>
        {% endif %}
        {% for question in questions %}
        <div>{{question.question.desc}}</div>
        <div class="card">
            <ul class="card-ul">
            {% for answer in question.get_all_answers %}
                {% if answer.order == question.answer_number and question.is_correct %}
                    <li class="list_item border-success">{{answer.desc}}</li>
                {% elif answer.order == question.answer_number and not question.is_correct %}
                    <li class="list_item border-danger">{{answer.desc}}</li>
                {% elif answer.order != question.answer_number and answer.order == question.question.correct_answer %}
                    <li class="list_item border-primary">{{answer.desc}}</li>
                {% else %}
                    <li class="list_item">{{answer.desc}}</li>
                {% endif %}

            {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}