{% extends 'Simulator/layout.html' %}
{% block body %}
{% if chapters %}
<form method="post" action="{% url 'save_test' %}">
    {% csrf_token %}
    {% for chapter in chapters %}
    <div>
        <input type="hidden" name="test_order" value="{{forloop.counter}}">
        {% for section, items in chapter.sections.items %}
            <div>
                <h2>{{ section }}</h2>
                <input type="hidden" value="{{section}}" name="section_subject-{{forloop.counter}}">
                {% if items.text %}
                    <textarea name="text_{{ chapter.chapter_order }}-{{section}}" class="text-textarea">{{ items.text }}</textarea>
                {% endif %}
                {% for question in items.questions %}
                    <div>
                        <h4>Question {{ question.id }}</h4>
                        <textarea name="question_{{ section }}_{{ question.id }}" class="question-textarea">{{ question.question }}</textarea>
                        <br>
                        {% for answer_key, answer in question.items %}
                            {% if 'answer_' in answer_key %}
                                <textarea name="answer_{{ answer.id }}" class="answer-textarea">{{ answer.text }}</textarea>
                                <input type="radio" name="correct_{{ question.id }}" value="{{ answer.id }}">
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    {% endfor %}
    <input class="btn btn-success" type="submit" value="Save Test">
</form>
{% else %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file" required>
    <input type="submit" class="btn btn-success" value="Submit File">
</form>
{% endif %}
{% endblock %}